src/main/java/com/sherwin/polling/PollingFile.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
       <xs:element name="polling_information">
              <xs:complexType>
                     <xs:sequence>
                            <xs:element name="application_name" type="xs:string"></xs:element>
                            <xs:element name="exec_date" type="xs:date"></xs:element>
                        </xs:sequence>
                 </xs:complexType>
          </xs:element>
   </xs:schema>